body {
    background-color: #b9ffff; /* Color de fondo */
    color: #003785; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Fuente del texto */
}

h1 {
    color: #003785; /* Color del título */
    margin-bottom: 30px; /* Espacio debajo del título */
}

button {
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Negrita para el texto del botón */
}

.form-control {
    border-radius: 5px; /* Bordes redondeados para el input */
    border: 1px solid #1465bb; /* Color del borde */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.form-control:focus {
    border-color: #2196f3; /* Color del borde al enfocar */
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); /* Sombra al enfocar */
}

#resultado {
    font-size: 1.5rem; /* Tamaño del texto del resultado */
    font-weight: bold; /* Negrita para el resultado */
    color: #1465bb; /* Color del texto del resultado */
    margin-top: 20px; /* Espacio encima del resultado */
}

.list-group-item {
    background-color: #81c9fa; /* Color de fondo de los items del historial */
    border-color: #2196f3; /* Color del borde de los items del historial */
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem; /* Tamaño de fuente más pequeño en dispositivos móviles */
    }
    
    #resultado {
        font-size: 1.2rem; /* Tamaño más pequeño para el resultado en móviles */
    }
}
