body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Color de fondo */
    color: #333; /* Color del texto */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #004080; /* Color del título */
}

button {
    background-color: #0080ff; /* Color del botón */
    color: white; /* Color del texto del botón */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005bb5; /* Color del botón al pasar el ratón */
}

.dark-theme {
    background-color: #333; /* Color de fondo en tema oscuro */
    color: white; /* Color del texto en tema oscuro */
}

.dark-theme button {
    background-color: #555; /* Color del botón en tema oscuro */
}
